@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root{
    --header-height:3rem;

    /* Colors */

    --body-color: linear-gradient(45deg, hsl(264, 52%, 80%) 0%, hsl(243, 33%, 65%) 100%);
    --nav-color: linear-gradient(45deg, hsl(264, 52%, 75%) 0%, hsl(243, 33%, 60%) 100%);
    --hero-color: linear-gradient(45deg, hsl(248, 52%, 71%) 0%, hsl(244, 34%, 66%) 100%);
    --text-color:#303056;
    --btn-color:#FF5B79;
    --white:#f8f8fd;

    /* Font-family */
    --poppins: 'Poppins', sans-serif;
    --reenie: 'Reenie Beanie', cursive;

    /* font-size */
    --biggest-font-size:2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --medium:500;
    --semi-bold:600;
    --bold:700;
    --black:900;

    /* Z-index */
    --z-tooltip:10;
    --z-fixed:100;

    /* margin-bottom */
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-25:1.25rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
}

@media screen and (min-width: 992px) {
    :root{
        --biggest-font-size:4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    
    }
}   


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

button, input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
    font-family: var(--poppins);
    font-size: var(--normal-font-size);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

body{
    background-image: var(--body-color);
    font-family: var(--poppins);
    min-height: 100vh;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin: var(--header-height) 0 0 0;
}

.section{
    padding: 4.5rem 0 2.5rem;
}

.section__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

.hero{
    width: 100%;
    background-image:var(--hero-color);
    position: fixed;
    top:0;
    left:0;
    z-index: var(--z-fixed);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;
    height: var(--header-height);
    background-color: transparent;
}

.nav__menu{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2.5rem;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--normal-font-size);
}

.nav__items{
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    color:var(--white);
    position: relative;
}

.nav__link{
    color:var(--white);
}

.nav__items::before{
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    transition: all .6s;
}

.nav__items:hover::before{
    content:"👻";
}

.nav__items:hover .nav__link{
    color:var(--text-color);
    font-weight: var(--bold);
}

.button-ghost{
    color: var(--white);   
    font-weight: var(--semi-bold);
    padding: .5rem;
    border:2px solid var(--white);
    border-radius: 41px;
    transition: .3s;
}

.button-ghost:hover{
    background-color: hsla(243, 33%, 60%, .8);
}

@media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        background-image: var(--nav-color);
        top:0;
        right: -150%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px rgba(117, 110, 150, 0.5);
        padding: 3.5rem;
        transition: all .6s;
        z-index: var(--z-fixed);
    }
}

.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white);
}

.nav__close{
    color: var(--white);
    position: absolute;
    top:.75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.show-menu{
    right: 0;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-weight: var(--medium);
    color: var(--white);
}

.nav__logo-img{
    width: 1.5rem;
}

.graveyard{
    margin-bottom: var(--mb-3);
}
.graveyard__group{
    position: relative;
    padding-top:2rem;
}

.graveyard__img{
    justify-self: center;
    height: 250px;
}

.graveyard__group .graveyard__indicator{
    background-color: var(--white);
    height: 100px;
    width: 1px;
    position: absolute;
    top: 15rem;
    right: 2rem;
}

.graveyard__indicator::before{
    content: "";
    background-color: var(--white);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -3px;
}

.graveyard__details{
    display: block;
    color:var(--white);
    text-align: right;
    padding-right: 3rem;
    margin-bottom: var(--mb-2-5);
}

.graveyard__content{
    row-gap: 1rem;
    text-align: left;
}

.graveyard__title, .graveyard__subtitle{
    text-transform: uppercase;

}

.graveyard__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--black);
}

.graveyard__description{
    font-size: var(--normal-font-size);
    line-height: 30px;
}

.graveyard__buttons{
    display: flex;
    justify-content: space-between;
    font-weight: var(--semi-bold);
}

.button-book{
    background-color: var(--btn-color);
    color: var(--white);
    padding: 1rem 1.75rem;
    border-radius: 30px 0 30px 0;
    cursor: pointer;
    margin-bottom: var(--mb-2);
}


/* SWIPER */
.swiper {
    width: 100%;
    height: 100%;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--white);
    opacity: 1;
}
  
.footer{
    row-gap: 5rem;
    justify-content: center;
    align-items: center;
    background-image: var(--nav-color);
}

.footer-content{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer-title{
    font-family: var(--reenie);
    font-size: var(--biggest-font-size);
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-2);
}

.footer-author{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1-5);
    text-align: center;
}

.footer-author span{
   font-weight: var(--semi-bold);
   transition: all .3s;
}

.footer-author span a:hover{
    font-weight: var(--black);
 }

@media screen and (min-width:768px){
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__menu{
        flex-direction: row;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 2.5rem;
    }

    .nav__toggle, .nav__close{
        display: none;
    }
       
}

@media screen and (min-width:1024px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1200px){
    .container{
        max-width: 1024px;
    }
}